{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'authuser/css/profile.css' %}">
{% endblock %}

{% block title %}{{ profile_user.username }}'s Profile {% endblock %}

{% block content %}
<div class="container">
    <h2>{{ profile_user.username }}</h2>

    <!-- Profile Picture -->
    <div class="profile-picture">
        <img src="{{ profile_user.profile_picture.url|default:'/media/profile_pictures/default.jpg' }}" alt="{{ profile_user.username }}'s profile picture">
    </div>

    <!-- Profile Links -->
    <div class="profile-links">
        <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Visits</a></li>
            <li><a href="{% url 'authuser:edit_profile' profile_user.id%}">Edit Profile</a></li>
        </ul>
    </div>
</div>
{% endblock %}
