.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: 20px auto 0 auto;
}

.users-table-container {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
    cursor: pointer;
}

th:hover {
    background-color: #e1e1e1;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

tr:hover {
    background-color: #e9e9e9;
}

/* View button styling */
.view-button {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.view-button:hover {
    background-color: #007bff;
    color: #fff;
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.1em;
}

.pagination a {
    color: #007bff;
    margin: 0 10px;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination span {
    color: #555;
}

.search-container {
    display: inline-flex;
    border-radius: 0px; /* Rounded corners for the whole search bar */
    overflow: hidden; /* Prevents individual rounding effects on child elements */
    border: 0px solid #ddd;
}

.search-form input {
    padding: 6px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    margin-right: 4px; /* Adds a small space between input and button */
}

.search-form button {
    padding: 6px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px; /* Rounded corners for the button */
    transition: background-color 0.3s ease;
}

