{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'plan/css/itinerary.css' %}">
{% endblock %}

{% block title %}Plan Your Day{% endblock %}

{% block content %}
<div class="container">
    <!-- Messages Display -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="itinerary-container">
        <!-- Left side: Map -->
        <div class="map-section">
            <iframe
                id="map"
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="{{ path_map }}">
            </iframe>
        </div>

        <!-- Right side: Itinerary Details -->
        <div class="itinerary-section">
            <h2>Itinerary {{ current_page }}</h2>
            <hr>
            <p class="subheader">Start: {{ travel_plan.0.0 }}</p>
            <ul class="itinerary-list" id="legs">
                {% for step in travel_plan %}
                    <li class="itinerary-item" onclick="toggleDetails(this)">
                        <div class="basic-info">
                            <span class="location"> {{ step.1 }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <!-- Pagination Links -->
            <div class="pagination">
                {% for page in total_pages %}
                    {% if page == current_page %}
                        <span class="page-number selected">{{ page }}</span>
                    {% else %}
                        <a class="page-number" href="{% url 'plan:itinerary_page' page %}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const listItems = document.querySelectorAll('#legs li');
    function toggleDetails(item) {
        const selectedItem = document.querySelector('.itinerary-item.selected');
        if (selectedItem && selectedItem !== item) {
            selectedItem.classList.remove('selected');
        }
        item.classList.toggle('selected');
        if (item.classList.contains('selected')) {
            partialRoutes = JSON.parse('{{ partial_routes|safe }}');
            document.getElementById('map').src = partialRoutes[Array.from(listItems).indexOf(item)];
        } else {
            document.getElementById('map').src = '{{ path_map|safe }}';
        }
    }
</script>
{% endblock %}