{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Existing head content -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sonder{% endblock %}</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/daytour.png' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
    {% block extra_head %}
    <!-- Where the template extra header goes -->
    {% endblock %}
</head>
<body>
    <!-- Header -->
<header>
    {% block header %}
        <nav aria-label="Main Navigation">
            <!-- Left Navigation Links -->
            <ul class="nav-left">
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'plan:plan' %}" class="login_btn">Swipe</a>
                    {% else %}
                        <a href="{% url 'authuser:login' %}" class="login_btn">Plan</a>
                    {% endif %}
                </li>
                <li>
                    <a href="{% url 'home:home' %}" class="login_btn">Submit</a>
                </li>
                <li>
                    <a href="{% url 'home:home' %}" class="login_btn">Reviews</a>
                </li>
                <li>
                    <a href="{% url 'home:home' %}" class="login_btn">Blogs</a>
                </li>
            </ul>
            
            <div class="nav-center">
                <h1 class="site-title">DAY TOUR</h1>
                <div class="logo">
                    <a href="{% url 'home:home' %}" class="login_btn"><img src="{% static 'images/daytour.png' %}" alt="DayTour.png"></a>
                </div>
            </div>
            
            <ul class="nav-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'authuser:profile' user.id %}" class="username-link">Hello, {{ user.username }}!</a>
                    </li>
                    <li>
                        <a href="{% url 'authuser:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'authuser:login' %}" class="{% if request.resolver_match.url_name == 'authuser:login' %}active{% endif %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'authuser:register' %}" class="{% if request.resolver_match.url_name == 'authuser:register' %}active{% endif %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}
</header>

    <main>
        {% block content %}
        <!-- Content from child templates will be injected here -->
        {% endblock %}
    </main>
    
    <!-- Footer -->
    <footer>
        {% block footer %}
        <p>&copy; {% now "Y" %} Day Tour. All rights reserved.</p>
        {% endblock %}
    </footer>
    
    <!-- JavaScript -->
    {% block extra_js %}
    <!-- Additional JavaScript can be added by extending templates -->
    {% endblock %}
</body>
</html>